@inherits UmbracoTemplatePage

@if (CurrentPage.HideBanner == false)
{
	var link = CurrentPage.BannerLink.ToString();
	
    <!-- Banner -->
    <div id="banner-wrapper" style="background: url('@CurrentPage.BannerBackgroundImage') center center no-repeat;">
        <section id="banner">
            <h2>@Model.Content.GetLocalizedValue("bannerHeader")</h2>
            <span class="byline">@Model.Content.GetLocalizedValue("bannerSubheader")</span>
            
		    <!-- Only show the banner link if the link isn't empty -->
			@if(link != "")
			{
            	<a href="@Umbraco.Content(link).Url" class="button">@Model.Content.GetLocalizedValue("bannerLinkText")</a>
            }
        </section>
    </div>
    <!-- /Banner -->
}